@import 'utility';

$base-text-size: 16px;
$base-font-family: Helvetica, sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  font-weight: 100;
  background-color: hsla(232, 7%, 20%, 1);
  color: #e8e8e8;
  padding: 5%;

  h1 { font-size: 3em; }

  h1,
  h2 {
    font-weight: lighter;
  }

  p {
    font-weight: 100;
  }
}

.notes-component {
  padding: 5px;
  background-color: hsla(232, 9%, 16%, 0.5);
  border: 1px solid hsla(0, 0%, 90%, 0.5);

  h2, p {
    margin: auto;
    padding: 3px 0;
  }
}
